header {
    margin:0px;
  width: 100%;
  height: 15.7vh;
  border-radius: 2px;
  background-color: #001c54;
}

h1 {
	margin: 19vh 37.1vw 0vh 43.1vw;
  width: 19.8vw;
  height: 2.7vh;
  font-family: Roboto;
  font-size: 2.7vh;
  font-weight: 300;
  text-align: left;
  color: #4a4a4a;
}

#chooseText {
  margin: 10vh 26.1vw 15vh 38.1vw;
  width: 19.8vw;
  height: 2.7vh;
  font-family: Roboto;
  font-size: 2.7vh;
  font-weight: 300;
  text-align: center;
  color: #4a4a4a;
}

#logoPic {
  margin:1.5vh 80.1vw 0vh 2vw;
  width: 13vw;
  height: 13vh;
}

#email {
  margin:3.9vh 41.3vw 0vh 41.3vw;
  width: 17.4vw;
  height: 3.6vh;
  border-radius: 2px;
  background-color: #f7f7f7;
  border: solid 1px #ced2d2;
}

#password {
  margin:1vh 41.3vw 0vh 41.3vw;
  width: 17.4vw;
  height: 3.6vh;
  border-radius: 2px;
  border-radius: 2px;
  background-color: #f7f7f7;
  border: solid 1px #ced2d2;
}

#passwordVerifier {
  margin:1vh 41.3vw 0vh 41.3vw;
  width: 17.4vw;
  height: 3.6vh;
  border-radius: 2px;
  border-radius: 2px;
  background-color: #f7f7f7;
  border: solid 1px #ced2d2;
}

#logInButton {
  margin:2.9vh 0vw 0vh 1.4vw;
  width: 8vw;
  height: 3.9vh;
  border-radius: 2px;
  background-color: #001c54;
  font-family: Roboto;
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

#lecturerButton {
  margin:2.9vh 0vw 0vh 30vw;
  width: 18vw;
  height: 8vh;
  border-radius: 2px;
  border: solid 1px #001c54;
  background-color: #ffffff;

  font-family: Roboto;
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #001c54;}

#studentButton {
  margin:2.9vh 0vw 0vh 1.4vw;
  width: 18vw;
  height: 8vh;
  border-radius: 2px;
  background-color: #001c54;
  font-family: Roboto;
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

#signUpButton {
  margin:2.9vh 0vw 0vh 41vw;
  width: 8vw;
  height: 3.9vh;
  border-radius: 2px;
  border: solid 1px #001c54;
  background-color: #ffffff;

  font-family: Roboto;
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #001c54;}

#signInButton {
  margin:2.9vh 41.3vw 0vh 41.3vw;
  width: 17.4vw;
  height: 3.9vh;
  border-radius: 2px;
  background-color: #001c54;
  font-family: Roboto;
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

#nextSubject {
  margin:2.9vh 0vw 0vh 36vw;
  width: 8vw;
  height: 3.9vh;
  border-radius: 2px;
  background-color: #001c54;
  font-family: Roboto;
  font-size: 1.2vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
#codeButton {
  margin:2.9vh 0vw 0vh 1.4vw;
  width: 8vw;
  height: 3.9vh;
  border-radius: 2px;
  background-color: #001c54;
  font-family: Roboto;
  font-size: 1.2vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
#endLecture {
  margin:2.9vh 0vw 0vh 1.4vw;
  width: 8vw;
  height: 3.9vh;
  border-radius: 2px;
  background-color: #001c54;
  font-family: Roboto;
  font-size: 1.2vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
#currentSubject {
  margin:2.9vh 0vw 0vh 1.4vw;
  width: 8vw;
  height: 3.9vh;
  border-radius: 2px;
  background-color: #001c54;
  font-family: Roboto;
  font-size: 1.2vh;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
#curSubTextId {
  margin:0vh 0vw 0vh 46vw;
  width: 20vw;
  height: 20vh;
  font-size: 8vh;
  font-family: Roboto;

 color: #001c54;
}

#chartContainer{
    margin:0vh 0vw 0vh 31vw;
}
